# Ignore build folders
/build/
/bin/
/obj/

# Ignore Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore compiled libraries and executables
*.lib
*.dll
*.exe
*.o
*.a
*.pdb
*.idb
*.obj
*.exp

# Ignore temporary and backup files
*~
*.bak
*.swp
/GridworldSDL2/GridworldSDL2/x64/Debug
/GridworldSDL2/GridworldSDL2/x64/Release
